body {
	padding-top: 76px;
	padding-bottom: 20px;
  background-color: #eee;
  background-image: url('../img/background.png');
  background-attachment: fixed;
}
.center {
	text-align: center;
}
.icon-box > p {
  margin-bottom: 20px;
}
.icon {
  width: 48px;
  height: 48px;
  margin: auto;
}
.popular-body {
  padding-top: 0;
}
.popular-list {
  background-color: #eee;
}
.popular-list div a {
  background-color: #ddd;
}
.popular-title {
  margin-right: 20px;
}
.popular {
  position: relative;
  top: -15px;
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
}
.popular .icon {
  width: 36px;
  height: 36px;
}
#show-icons {
  position: relative;
  top: -10px;
}
.section-title {
  margin: 12px 0 18px 0;
}
.logo {
  width: 48px;
  height: 46px;
}
.navbar-brand .logo {
  width: 24px;
  height: 23px;
  position: relative;
  top: -2px;
  display: inline;
}
/* Decreasing panel-heading padding for mobile devices */
.panel-heading {
  padding: 10px;
}