body {
	padding-top: 76px;
	padding-bottom: 20px;
  background-color: #eee;
  background-image: url('../img/background.png');
  background-attachment: fixed;
}
.center {
	text-align: center;
}
.icon-box > p {
  margin-bottom: 20px;
}
.icon {
  width: 48px;
  height: 48px;
  margin: auto;
}
.popular-body {
  padding-top: 0;
}
.popular-list {
  background-color: #eee;
}
.popular-list div a {
  background-color: #ddd;
}
.popular-title {
  margin-right: 20px;
}
.popular {
  width: 36px;
  height: 36px;
  float: left;
  position: relative;
  left: 12px;
  top: 3px;
}
#show-icons {
  position: relative;
  top: -10px;
}
/* Decreasing panel-heading padding for mobile devices */
.panel-heading {
  padding: 10px;
}