<!DOCTYPE HTML>
<html data-ng-app="members">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<title>CSH Members Portal</title>
	<!-- Styles -->
	<link rel="stylesheet" href="../bootstrap-csh/members/dist/css/bootstrap.css">
	<style>
		body {
			padding-top: 76px;
			padding-bottom: 20px;
		}
		.center {
			text-align: center;
		}
	</style>
	<!-- Scripts -->
	<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="../bootstrap-csh/members/dist/js/bootstrap.js"></script>
	<script src="//code.angularjs.org/snapshot/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body data-ng-controller="MembersController">
  <!-- Navbar -->
	<navbar></navbar>
	<!-- Content -->
	<div class="container">
    <div class="row">
      <!-- Meeting Times -->
		  <meetings data="meetings"></meetings>
			<!-- Links -->
			<div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col-md-12" data-ng-repeat="section in sections">
            <h3>{{ section.name }}</h3>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6" data-ng-repeat="link in section.links">
                <div data-ng-show="link.href">
                  <a href="{{ link.href }}"><p>{{ link.name }}<p></a>
                </div>
                <div data-ng-show="link.dropdown" class="dropdown">
                  <a href="#" data-toggle="dropdown" id="{{ link.icon }}"><p>{{ link.name }}</p></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="{{ link.icon }}">
                    <li data-ng-repeat="sub in link.dropdown">
                      <a href="{{ sub.href }}">{{ sub.name }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</body>
</html>